<% provide :title, "Hệ thông bán hàng trực tuyến" %>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <!-- for -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-padding">
    <div class="thumbnail mobile">
      <div class="bt">
        <div class="image-m pull-left">
          <img class="img-responsive" src="<%= asset_url("demo.png") %>" alt="img responsive">
        </div>
        <div class="intro pull-right">
          <h1><small class="title-mobile">SamSum</small></h1>
          <li>Sumsum i5</li>
          <span class="label label-info">Khuyễn mãi</span>
          <li>
            <span class="glyphicon glyphicon-hand-right"></span> Cu sac
          </li>
          <li>
            <span class="glyphicon glyphicon-hand-right"></span> Tai Nghe
          </li>
          <li>
            <span class="glyphicon glyphicon-hand-right"></span> Tui Sach
          </li>
        </div>
      </div>
      <div class="ct">
        <a href="#" title="Xem chi tiết">
          <span class="label label-info">Ưu đãi khi mua</span>
          <li>
            <span class="glyphicon glyphicon-hand-right"></span> Cu sac
          </li>
          <li>
            <span class="glyphicon glyphicon-hand-right"></span> Tai Nghe
          </li>
          <li>
            <span class="glyphicon glyphicon-hand-right"></span> Tui Sach
          </li>
          <span class="label label-warning">Cấu Hình Nổi bật</span>
          <li>
            <strong>CPU</strong> : <i> i5</i>
          </li>
          <li>
            <strong>Màn Hình</strong> : 5in </i>
          </li>
          <li>
            <strong>Camera</strong> : 5mg
          </li>
          <li>
            <strong>HĐH</strong> :<i> 5 </i> <strong> Bộ nhớ trong</strong> :<i> 5 </i>
          </li>
          <li>
            <strong>Pin</strong> :<i> 5</i>
          </li>
        </a>
      </div>
      <span class="btn label-warning">
        <strong>500000</strong> Đ
      </span>
      <a href="#" class="btn btn-success pull-right add">Thêm vào giỏ </a>
    </div>
  </div>
  <div class="clearfix"></div>
  <div id="laptop"></div>
  <!-- for -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-padding" >
    <div class="thumbnail">
      <div class="hienthi">
        <img class="img-responsive" src="<%= asset_url("demo.png") %>" alt="img responsive">
        <div class="caption">
          <h1>
            <small><strong class="title-pro">Lap del</strong></small>
          </h1>
          <p>
            <li><i>Lap del 1</i></li>
            <span class="label label-info ">Ưu đãi khi mua</span>
            <li>
              <span class="glyphicon glyphicon-hand-right"></span> cu sac
            </li>
            <li>
              <span class="glyphicon glyphicon-hand-right"></span> day sac
            </li>
            <li>
              <span class="glyphicon glyphicon-hand-right"></span> day k
            </li>
          </p>
          <p>
            <span class="btn label-warning">Giá : <strong>50000</strong> Đ </span>
          </p>
        </div>
      </div>
      <div class="tomtat">
        <div class="thongtin">
          <a href="#" title="Xem chi tiết">
            <span class="label label-info ">Ưu đãi khi mua</span>
            <li>
              <span class="glyphicon glyphicon-hand-right"></span> cu sac
            </li>
            <li>
              <span class="glyphicon glyphicon-hand-right"></span> day sac
            </li>
            <li>
              <span class="glyphicon glyphicon-hand-right"></span> day k
            </li>
            <span class="label label-warning">Cấu Hình Nổi bật</span>
            <li><strong>CPU</strong> : <i>i7</i></li>
            <li><strong>RAM </strong> : <i>4gb</i></li>
            <li><strong>Lưu Trữ</strong> : <i> 5</i></li>
            <li><strong>Màn Hình</strong> : <i> 5in </i></li>
            <li><strong>VGA</strong> : <i> 5</i></li>
            <li><strong>HĐH</strong> : <i> 500gb</i></li>
            <li><strong>Pin</strong> :<i> 2000mhm</i></li>
          </a>
        </div>
          <div class="price">
            <span class="btn btn-info btn-block ">Giá : <strong>50000</strong> Đ</span>
            <a href="#" class="btn btn-success btn-block">Thêm vào giỏ</a>
          </div>
      </div>
    </div>
  </div>
  <!-- endfor -->
  <div class="clearfix"></div>
  <a href="#" target="_blank">
    <img src="<%= asset_url("slides/thumbs/qc1.png") %>" border="0" width="100%" height="250" />
  </a>
  <br><br>

  <div id="pc"></div>
  <!-- for -->
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding">
    <div class="thumbnail pc">
      <div class="bt">
        <div class="image-m pull-left">
          <img class="img-responsive" src="<%= asset_url("demo.png") %>" alt="img responsive">
        </div>
        <div class="intro pull-right">
          <h1><small class="title-pc">Dell Pc</small></h1>
          <li> CPU: i3</li>
          <li> RAM :4gb</li>
          <li>HDD : 500gb </li>
          <span class="label label-info">Khuyễn mãi</span>
          <li><span class="glyphicon glyphicon-hand-right"></span> vo</li>
          <li><span class="glyphicon glyphicon-hand-right"></span> tua vit </li>
          <li><span class="glyphicon glyphicon-hand-right"></span> xu </li>
        </div>
      </div>
      <div class="ct">
        <a href="#" title="Xem chi tiết">
          <span class="label label-warning">Cấu hình chi tiết</span>
          <li><strong>CPU</strong> : <i>  i5</i></li>
          <li><strong>HDD</strong> : <i> 450gb</i></li>
          <li><strong>HĐH</strong> :<i>win7  </i> - <strong>RAM </strong> :<i>4gb</i></li>
          <li><strong>VGA - DVD</strong> :<i> 4gb</i></li>
          <li><strong>Kết nối</strong> : <i> Da ket noi</i></li>
        </a>
      </div>
      <span class="btn label-warning">Giá : <strong>50000</strong> Đ </span>
      <a href="#" class="btn btn-success pull-right add">Thêm vào giỏ </a>
    </div>
  </div>
</div>
