<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div id="laptop"></div>
  <!-- foreach -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-padding">
    <div class="thumbnail">
      <div class="hienthi">
        <img alt="" class="img-responsive" src="#">
        <div class="caption">
          <h1>
            <small>
              <strong class="title-pro"><!-- name --></strong>
            </small>
          </h1>
          <ul>
            <li><i><!-- infor --></i></li>
            <li><i><!-- cpu --></i></li>
            <li>
              <span class="label label-info">Ưu đãi khi mua</span>
            </li>
            <li>
              <span class="glyphicon glyphicon-ok-sign"></span>
            </li>
            <li>
              <span class="glyphicon glyphicon-ok-sign"></span>
            </li>
            <li>
              <span class="glyphicon glyphicon-ok-sign"></span>
            </li>
            <li>
              <span class="glyphicon glyphicon-ok-sign"></span>Cài đặt phần miềm, tải nhạc - ứng dụng miến phí
            </li>
            <li>
              <p><span class="btn label-warning"><strong> Vnd</strong></span></p>
            </li>
          </ul>
        </div>
      </div>
      <div class="tomtat">
        <div class="thongtin">
          <a href="#" title="">
            <span class="label label-info">Ưu đãi khi mua</span>
            <ul>
              <li><span class="glyphicon glyphicon-ok-sign"></span></li>
              <li><span class="glyphicon glyphicon-ok-sign"></span></li>
              <li><span class="glyphicon glyphicon-ok-sign"></span></li>
              <li><span class="glyphicon glyphicon-ok-sign"></span>Cài đặt phần miềm, tải nhạc - ứng dụng miến phí</li>
              <li>
                <span class="label label-warning">Cấu Hình Nổi bật</span>
              </li>
              <li><strong>CPU</strong> : <i></i></li>
              <li><strong>RAM</strong> : <i></i></li>
              <li><strong>Lưu Trữ</strong> : <i></i></li>
              <li><strong>Màn Hình</strong> : <i></i></li>
              <li><strong>VGA</strong> : <i></i></li>
              <li><strong>HĐH</strong> : <i></i></li>
              <li><strong>Pin</strong> : <i></i></li>
            </ul>
          </a>
        </div>
        <div class="price">
          <span class="btn btn-info btn-block"><strong></strong> Vnd</span> <a class="btn btn-success btn-block" href="#">Thêm vào giỏ</a>
        </div>
      </div>
    </div>
  </div>
  <!-- endfor -->
  <div class="clearfix"></div>
</div>
