<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <!-- foreach -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-padding">
    <div class="thumbnail mobile">
      <div class="bt">
        <div class="image-m pull-left">
          <img alt="" class="img-responsive" src="#">
        </div>
        <div class="intro pull-right">
          <h1><small class="title-mobile"></small></h1>
          <ul>
            <li></li>
            <li>
              <span class="label label-info">Khuyễn mãi</span>
            </li>
            <li>
              <span class="glyphicon glyphicon-ok-sign"></span>
            </li>
            <li>
              <span class="glyphicon glyphicon-ok-sign"></span>
            </li>
            <li>
              <span class="glyphicon glyphicon-ok-sign"></span>
            </li>
            <li><span class="glyphicon glyphicon-ok-sign"></span>Cài đặt phần miềm, tải nhạc - ứng dụng miến phí</li>
          </ul>
        </div>
      </div>
      <div class="ct">
        <a href="#" title="Chi tiết">
          <span class="label label-info">Ưu đãi khi mua</span>
          <ul>
            <li><span class="glyphicon glyphicon-ok-sign"></span></li>
            <li><span class="glyphicon glyphicon-ok-sign"></span></li>
            <li><span class="glyphicon glyphicon-ok-sign"></span></li>
            <li><span class="glyphicon glyphicon-ok-sign"></span>Cài đặt phần miềm, tải nhạc - ứng dụng miến phí</li>
            <li><span class="label label-warning">Cấu Hình Nổi bật</span></li>
            <li><strong>CPU</strong> : <i></i></li>
            <li><strong>Màn Hình</strong> : <i></i></li>
            <li><strong>Camera</strong> : Trước <i></i> Sau <i></i></li>
            <li><strong>HĐH</strong> : <i></i> <strong>Bộ nhớ trong</strong> : <i></i></li>
            <li><strong>Pin</strong> : <i></i></li>
          </ul>
        </a>
      </div>
      <span class="btn label-warning"><strong></strong>Vnd</span> <a class="btn btn-success pull-right add" href="#">Thêm vào giỏ</a>
    </div>
  </div>
  <!-- endfor -->
  <div class="clearfix"></div>
</div>
