<div class="container">
<hr>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr><h1>Lịch sử mua hàng </h1></tr>
          <tr>
            <th> ID</th>
            <th> Mã đơn hàng</th>
            <th> Ngày đặt hàng</th>
            <th> Tổng tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td> Vnđ</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
          <thead>
            <tr>
              <th colspan="2"> Thông tin khách hàng : </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Họ tên</td>
              <td></td>
            </tr>
            <tr>
              <td>Địa chỉ E-mail</td>
              <td></td>
            </tr>
            <tr>
              <td>Điện thoại</td>
              <td></td>
            </tr>
            <tr>
              <td>Địa chỉ Khách hàng</td>
              <td></td>
            </tr>
            <tr>
              <td>Ngày đăng ký</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
