<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li>
        <a href="#"><svg class="glyph stroked home">
        <use xlink:href="#stroked-home"></use></svg></a>
      </li>
      <li class="active">Chi tiết đơn hàng</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <form action="" method="post" role="form">
        <input name="_token" type="hidden" value="{{ csrf_token() }}">
        <div class="panel panel-default">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Họ-tên khách hàng</th>
                  <th>Địa chỉ</th>
                  <th>Điện thoại</th>
                  <th>Ngày đặt</th>
                  <th>Tổng tiền</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td> Vnđ</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="panel-heading">
            Chi tiết sản phẩm trong đơn đặt hàng
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Hình ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Tóm tắt chức năng</th>
                    <th>Số lượng</th>
                    <th>Giá bán</th>
                    <th>Trạng thái</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td><img alt="iphone" height="40" src="#" width="50"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> Vnđ</td>
                    <td>
                      <span>Còn hàng</span>
                      <span>Tạm hết</span>
                    </td>
                    <td>
                      <a href="" onclick="return xacnhan('Xóa danh mục này ?')" title="Xóa">
                        <span class="glyphicon glyphicon-remove">remove</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div><button class="btn btn-danger" onclick="return xacnhan('Xác nhận đơn hàng này ?')" type="submit">Xác nhận đơn hàng</button>
      </form>
    </div>
  </div>
</div>
