<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <h3 class="panel-title">
    <span class="glyphicon glyphicon-home">
      <a href="#" title="">Home</a>
    </span>
    <span class="chevright glyphicon glyphicon-chevron-right"></span>
    <a href="#" title="">Đặt hàng</a>
    <span class="chevright glyphicon glyphicon-chevron-right"></span>
    <a href="#" title=""></a>
  </h3>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 no-padding">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="panelsuccess" class="panel panel-success">
          <div class="alert alert-danger">
            <ul>
              <li></li>
            </ul>
          </div>
          <div class="alert alert-success">
            <ul></ul>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Hình ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>SL</th>
                    <th>Action</th>
                    <th>Giá</th>
                    <th>Thành tiền</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- foreach -->
                  <tr>
                    <td>1</td>
                    <td>
                      <img alt="dell" height="50" src="#" width="80">
                    </td>
                    <td>samsung</td>
                    <td class="text-center">
                      <a href="#">
                        <span class="glyphicon glyphicon-minus"></span>
                      </a>
                      <a href="#">
                        <span class="glyphicon glyphicon-minus"></span>
                      </a>
                      <input class="qty text-center" readonly="readonly" type="text" value="">
                      <a href="#">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                      </a>
                    </td>
                    <td>
                      <a href="" onclick="return xacnhan('Xóa sản phẩm này ?')">
                        <span id="glyremove" class="glyphicon glyphicon-remove"></span>
                      </a>
                    </td>
                    <td>5000 Vnd</td>
                    <td>50000 Vnd</td>
                  </tr><!-- endfor -->
                  <tr>
                    <td colspan="3"><strong>Tổng cộng :</strong></td>
                    <td>2</td>
                    <td colspan="2">200000 Vnd</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 no-paddng">
              <div class="input-group">
                <select class="form-control" id="inputPaymethod" name="paymethod" required="required">
                  <option value="cod">
                    COD (thanh toán khi nhận hàng)
                  </option>
                  <option value="paypal">
                    Paypal (Thanh toán qua Paypal)
                  </option>
                </select>
              </div>
              <a class="btn btn-large btn-warning pull-right" href="#">Tiến hàng thanh toán</a>
              <form accept-charset="utf-8" action="#" method="get">
                <div class="input-group">
                  <label for="paymethod">Chọn phương thức thanh toán</label>
                  <select class="form-control" id="inputPaymethod" name="paymethod" required="required">
                    <option value="">
                      Hãy chọn phương thức thanh toán
                    </option>
                    <option value="paypal">
                      Thanh toán trực tuyến ( Paypal )
                    </option>
                    <option value="cod">
                      Thanh toán khi nhận hàng ( COD )
                    </option>
                  </select>
                </div>
                <hr>
                <button class="btn btn-danger pull-right" type="submit">Tiến hành thanh toán</button> <a class="btn btn-large btn-primary pull-left" href="#" type="button">Tiếp tục mua hàng</a>
              </form>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-padding">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Sản phẩm tương tự</h3>
      </div>
      <div class="panel-body no-padding">
        <!-- for product -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
          <div class="thumbnail mobile">
            <div class="bt">
              <div class="image-m pull-left">
                <img alt="" class="img-responsive" src="#">
              </div>
              <div class="intro pull-right">
                <h1>
                  <small class="title-mobile"><!-- name product --></small>
                </h1>
                <ul class="stylenone" >
                  <li><!-- infro --></li>
                  <li>
                    <span class="label label-info">Khuyễn mãi</span>
                  </li>
                  <li>
                    <span class="glyphicon glyphicon-ok-sign"></span> <!-- promen 1 -->
                  </li>
                  <li></li>
                  <li>
                    <span class="glyphicon glyphicon-ok-sign"></span><!-- promen 2 -->
                  </li>
                  <li></li>
                  <li>
                    <span class="glyphicon glyphicon-ok-sign"></span><!-- promen 3 -->
                  </li>
                  <li></li>
                  <li>
                    <span class="glyphicon glyphicon-ok-sign"></span>Cài đặt phần miềm, tải nhạc - ứng dụng miến phí
                  </li>
                </ul>
              </div>
            </div>
            <div class="ct">
              <a href="#" title="Chi tiết">
                <span class="label label-info">Ưu đãi khi mua</span>
                <ul>
                  <li>
                    <span class="glyphicon glyphicon-ok-sign"></span> <!-- promen 1 -->
                  </li>
                  <li>
                    <span class="glyphicon glyphicon-ok-sign"></span><!-- promen 2 -->
                  </li>
                  <li>
                    <span class="glyphicon glyphicon-ok-sign"></span><!-- promen 3 -->
                  </li>
                  <li>
                    <span class="glyphicon glyphicon-ok-sign"></span>Cài đặt phần miềm, tải nhạc - ứng dụng miến phí
                  </li>
                  <li>
                    <span class="label label-warning">Cấu Hình Nổi bật</span>
                  </li>
                  <li><strong>CPU</strong> : <i>#</i></li>
                  <li><strong>Màn Hình</strong> : <i>#</i></li>
                  <li><strong>Camera</strong> : Trước <i>#</i> Sau <i></i></li>
                  <li><strong>HĐH</strong> : <i>#</i> <strong>Bộ nhớ trong</strong> : <i>#</i></li>
                  <li><strong>Pin</strong> : <i>#</i></li>
                </ul>
              </a>
            </div><span class="btn label-warning"><strong><!-- price --></strong>Vnd</span> <a class="btn btn-success pull-right add" href="#">Thêm vào giỏ</a>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Sự kiện HOT</h3>
      </div>
      <div class="panel-body no-padding">
        <a href="#" title="">
          <img alt="" height="100%" src="" width="100%" />
        </a><br>
        <a href="#" title="">
          <img alt="" height="100%" src="" width="100%"/>
        </a><br>
        <a href="#" title="">
          <img alt="" height="100%" src="" width="100%">
        </a>
        <a href="#" title="">
          <img alt="" height="100%" src="" width="100%"/>
        </a>
        <a href="#" title="">
          <img alt="" height="100%" src="" width="100%" />
        </a>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Thống kê</h3>
      </div>
      <div class="panel-body">
        <p>Số bài viết: 124556</p>
        <p>Số Thành Viên : 12435</p>
        <p>Số Thành Viên Online: 2435</p>
        <p>Số Người Đang Xem : 435</p>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Fans Pages</h3>
      </div>
      <div class="panel-body">
        Hãy <a href="#" title="">Like</a> facebook của MyWeb để cập nhật tin mới nhất
      </div>
    </div>
  </div>
</div>
