    <div class="container-fluid">
      <div class="container">
        <hr>
        <footer>
          <%= t ".design" %>
        </footer>
      </div>
    </div>
    <%= link_to(raw('<span class="glyphicon glyphicon-chevron-up"></span>'), "#",
    { id: "back-to-top", class: "btn btn-warning btn-lg back-to-top", :"data-toggle" => "tooltip", :"data-placement" => "left", :title => t(".click"), :role => "button" })  %>
  </body>
  </html>
